<!DOCTYPE html>
<html>

<head id="head">
  <title>
    <%- htmlWebpackPlugin.options.metadata.title %>
  </title>
  <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
  <link href="//fonts.googleapis.com/css?family=PT Sans Caption" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Habibi" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta property="og:title" content="Web Jam Band Orignal Songs" id="ogtitle" />
  <meta property="og:description" content="Try out our new music player to hear many original songs played in a continous loop" id="ogdesc" />
  <meta property="og:image" content="https://web-jam.com/static/imgs/webjamlogo1.png" id="ogimg" />
  <meta property="og:url" content="https://web-jam.com/music/originals" id="ogurl" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="2207148322688942" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body aurelia-app="main">
  <div class="splash">
    <div class="message">
      <%- htmlWebpackPlugin.options.metadata.title %>
    </div>
    <i class="fa fa-spinner fa-spin"></i>
  </div>
</body>

</html>
